body {
    background-color: #e8e2dd;
    color: #212121;
    margin: 0 auto 0 auto;
    width: 600px;
    font-family: "Calibri", sans-serif;
    padding-left: 30px; padding-right: 30px;
}

pre, code, pre.alectryon-io {
  font-family: monospace;
}

@media only screen and (max-width: 768px) {
  body {
    width: 85%;
  }
}

header#top {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
}

header#top nav {
    text-align: right;
}

header#top nav a {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 0.8em;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1, h2, h3, h4 {
    color: black;
}

h1 {
    font-size: 1.8em;
    text-align: center;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

h5 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

h6 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 0.5em;
}

p {
    margin-top: 0.5em;
}

img, .img, .center {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

div.info {
    color: #555;
    font-size: 0.9em;;
    font-style: italic;
}

figure {
    margin: 0;
}

figure:target > figcaption {
    background-color: lightgray;
}

figcaption {
    color: gray;
    text-align: right;
}

mlabeledtr > mtd:first-child {
    display: table-cell;
}

ul, ol {
    padding-left: 2em;
}

ul code, p code, span.dt {
  color: #311B92;
}

ul code, p code {
  margin: 0 0.2em;
}

a code {
  text-decoration: underline;
}

span.fu {
}

span.ot, span.op {
  color: #9C27B0;
}

span.kw {
  color: #4CAF50;
}

span.st {
  color: #AA0000;
}

span.co {
  color: #616161;
}

pre {
  margin-left: 1.5em;
  color: black;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
}

th {
  border: 1px solid black;
}

td {
  border-right: 1px solid black;
  padding-left: 0.5em;
}

td + td {
  text-align: right;
  padding-right: 0.5em;
}

sup {
  font-size: 0.8em;
}

details > summary {
  color: #888888;
}

details {
  margin-bottom: 1em;
}

.exercise {
  background-color: #EEEEEE;
  padding: 1em;
  margin-bottom: 16px;
}

.exercise > :first-child {
  margin-top: 0;
}

.exercise > :last-child {
  margin-bottom: 0;
}

/* Highlight footnote when accessed via a link. */
.footnotes :target {
  background-color: #E2E2E2;
}

.nobr {
    white-space: nowrap;
}

.alectryon-io {
  white-space: pre;
}

.math.display {
  display: block;
  text-align: center;
}

.toc {
  background: #ddd;
  padding: 1em;
}

.toc h3 {
  margin: 0;
}

.toc ul {
  margin-top: 0.5em;
  margin-bottom: 0;
}

blockquote {
  padding: 0.7em;
  background: lightgray;
}
